@import "tailwindcss";

html {
  background-color: white;
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}